/* Autor: Noe Misael Montoya Ibarra
// Fecha: 03/Enero/2022
// Descripcion: Estilos CSS para formulario EXT
*/


.margin-top-5 { margin-top: 5px !important;  }   .margin-top-10 { margin-top: 10px !important;  } .margin-top-15 { margin-top: 15px !important;  } 
.margin-top-20 { margin-top: 20px !important;  } .margin-top-25 { margin-top: 25px !important;  }
.margin-top-30 { margin-top: 30px !important;  } .margin-top-35 { margin-top: 35px !important;  }
.margin-top-40 { margin-top: 40px !important;  } .margin-top-45 { margin-top: 45px !important;  } 
.margin-top-50 { margin-top: 50px !important;  } .margin-top-55 { margin-top: 55px !important;  }
.margin-top-60 { margin-top: 60px !important;  } .margin-top-65 { margin-top: 65px !important;  } 
.margin-top-70 { margin-top: 70px !important;  } .margin-top-75 { margin-top: 75px !important;  }
.margin-top-80 { margin-top: 80px !important;  }


/*--- Iconos toolbar ---*/
.icon-load {  
    background: transparent url(../imgs/icos/16-px-reload-1.png) center 0 no-repeat !important;
}

.icon-plus {
    background: transparent url(../imgs/icos/16px-plus-1.png) center 0 no-repeat !important;
}

.icon-edit {
    background: transparent url(../imgs/icos/16px-edit-1.png) center 0 no-repeat !important;
}

.icon-cancel {  
    background: transparent url(../imgs/icos/16px-cancel-1.png) center 0 no-repeat !important;
}


.icon-save {
   
    background: transparent url(../imgs/icos/16px-save.png) center 0 no-repeat !important;
}

.icon-save-b {
   
    background: transparent url(../imgs/icos/16px-save-b.png) center 0 no-repeat !important;
}

.icon-search {  
    background: transparent url(../imgs/icos/16px-search.png) center 0 no-repeat !important;
}


.icon-exit {  
    background: transparent url(../imgs/icos/16px-exit.png) center 0 no-repeat !important;
}
